{% extends template.self %}

{% block javascript %}
{{ super() }}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/{{ config.pluginsConfig.tawk.siteID }}/{{ config.pluginsConfig.tawk.widgetID }}';
        s1.charset='{{ config.pluginsConfig.tawk.charset }}';
        s1.setAttribute('crossorigin','{{ config.pluginsConfig.tawk.crossorigin }}');
        s0.parentNode.insertBefore(s1,s0);
    })();
</script>
<!--End of Tawk.to Script-->
{% endblock %}
